@use "../../common/style/colors";

window.Bar {
    background: transparent;
    color: #{colors.$fg-color};
    font-weight: bold;

    > centerbox {
        background: #{colors.$bg-color};
        /* border-radius: 10px; */
        margin: 0;
    }

    button {
        background: transparent;
        border: none;
        box-shadow: none;
        margin: 2px;
    }
}
